/**
 * ===========================================
 *	FLEX DUCK
 * ===========================================
 */

/*.row {
  width: 100%;
}
.row:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: none;
}

.columns-behavior {}
  float: left;
  Safari/Chrome, other WebKit
  -webkit-box-sizing: border-box;
  Firefox, other Gecko
  -moz-box-sizing: border-box;
  Opera/IE 8+
  box-sizing: border-box;
}*/