/**
 * ===========================================
 *  FLEX DUCK
 * ===========================================
 *  This file contains general rules that will make the flex-duck-js script work.
 */


/* Define behavior for rows  */
    .row {
        /* Set width to 100% of its parent */
        width: 100%;
        /* Will make borders & padding go inside the elements instead of expanding */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }

/* Clear floats after each row */
    .row:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }

/* Add general rules for all columns */
    .row > [class *= "small-"], .row > [class *= "medium-"], .row > [class *= "large-"] {
        /* Make the columns collapse correctly */
        float: left;
        display: block;
    }

/* Push elements */
    .push {
        /* Will make sure empty div's can push content and are hidden */
        content: " ";
        height: 1px;
        visibility: hidden;
    }

/* Hidding classes */
    .small-hidden, .medium-hidden, .large-hidden {
        display: none !important;
    }